<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cowin</title>
</head>
<body>
<h1>App Name</h1>
<br>
<form action="/api/v1/register-user-details" method="post">
    <label for="name">Name:</label><br>
    <input type="text" name="name"><br>
    <label for="phone">Phone:</label><br>
    <input type="text" name="phone"><br>
    <label for="email">E-mail:</label><br>
    <input type="text" name="email"><br>
    <label for="pin">Pincode:</label><br>
    <input type="text" name="pin"><br>
    <input type="submit" value="Submit"><br>
  </form>
 
<script src="home.js"></script> 
</body>
</html>