<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Cowin</title>
    </head>
<body>
<h1 class="app">App Name</h1>
<br>
    <form id="formElem">
    <label>Name:</label><br>
    <input type="text" name="name" required><br>
    <label>Phone:</label><br>
    <input type="text" name="phone"><br>
    <label>E-mail:</label><br>
    <input type="text" name="email" required><br>
    <label>Pincode:</label><br>
    <input type="text" name="pin" required><br>
    <input type="submit"><br>
  </form>
  <div id="test"></div>
 
<script>


formElem.onsubmit = async (e) => {
      e.preventDefault();
      var form = document.querySelector("#formElem");
      let csrftoken = getCookie('csrftoken');
        data = {
          name : form.querySelector('input[name="name"]').value,
          phone : form.querySelector('input[name="phone"]').value,
          email : form.querySelector('input[name="email"]').value,
          pincode : form.querySelector('input[name="pin"]').value,
          csrfmiddlewaretoken: csrftoken,
        }
        console.log(data);
        let response = await fetch('http://127.0.0.1:8000/api/v1/register-user-details', {
                method: 'POST', 
                headers: {
                    "X-CSRFToken": csrftoken 
                },
                data: JSON.stringify(data),
        })

        let text = await response.text();
        document.querySelector("#test").innerHTML = text;
    };

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script> 
</body>
</html>